.intro {
    margin: 0;
    padding: 0;
    width: 100%;
}
#title {
    padding-top: 120px;
    text-shadow: 0 0 10px rgba(0,0,0,0.8);
    margin: 0 auto;
    color: white;
    text-align: center;
}
.login-form {
    background-color: white;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    top: 80px;
    padding-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 5px 50px rgba(0,0,0,0.4);
    text-align: center;
}

.login-header {
    background-color: #665851;
    margin-top: 0;
    border-radius: 5px 5px 0 0;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 1.4em;
    line-height: 2.8em;
}

label {
    font-weight: 700;
    font-size: .8em;
    color: #888;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 2em;
    float: unset;
}