.addform {
    background-color: white;
    position: relative;
    padding-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 5px 50px rgba(0,0,0,0.4);
    text-align: center;
}

.roleform {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 50px rgba(0,0,0,0.4);
}

.role-header {
    background-color: #665851;
    border-radius: 5px 5px 0 0;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 1.4em;
    line-height: 2.8em;
}

.selected-roles {
    color: brown;
    background-color: white;
}

.labels {
    font-weight: 700;
    font-size: .8em;
    color: #888;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 2em;
}